version: '3.8'

services:

    front:
        build:
            context: .
            target: setup
        volumes:
            - '.:/app'
            - '/app/node_modules'
        ports:
            - '4200:4200'
