name: build image and push to dockerhub

on:
    push:
        branches:
            - release
            - hotfix

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: Declare some variables
              id: vars
              shell: bash
              run: |
                  echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
            - name: Login to Docker Hub
              uses: actions-hub/docker/login@master
              env:
                  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
                  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
            - name: Build version
              run: DOCKER_BUILDKIT=1  docker build --build-arg target=staging -t ${{ secrets.DOCKER_IMAGE }}:staging-${{ steps.vars.outputs.sha_short }} .
            - name: Tag image staging-latest
              run: docker tag ${{ secrets.DOCKER_IMAGE }}:staging-${{ steps.vars.outputs.sha_short }} ${{ secrets.DOCKER_IMAGE }}:staging-latest
            - name: Push to docker hub ${{ steps.tag.outputs.tag }}
              uses: actions-hub/docker@master
              with:
                  args: push ${{ secrets.DOCKER_IMAGE }}:staging-${{ steps.vars.outputs.sha_short }}
            - name: Push to docker hub :staging-latest
              uses: actions-hub/docker@master
              with:
                  args: push ${{ secrets.DOCKER_IMAGE }}:staging-latest
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - name: deploy on Portainer
              run: curl -X POST ${{ secrets.WEBHOOK_API }}
